* {
  margin: 0;
  padding: 0;
}
div {
  width: 100%;
  height: 100%;
}

.left-container {
  position: absolute;
  left: 0;
  top: 0;
  margin: 20px;
  width: 200px;
  height: 200px;
  perspective: 1000px;
}

.right-container {
  position: absolute;
  left: 780px;
  top: 0;
  margin: 20px;
  width: 200px;
  height: 200px;
  perspective: 1000px;
}

.card {
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.front, .back {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.front {
  background-color: white;
  border: 2px solid black;
  transform: rotateY(180deg);
}

.back {
  background-color: white;
  border: 2px solid black;

}